.App {
  text-align: center;
}

div.counter,
div.container {
  margin: 1em;
  padding: 1em;
  background-color: rgb(24, 21, 21);
  border-radius: 5px;

  color: #ffffff;
}

form {
  text-align: left;
}

label,
input {
  display: block;
}

button {
  min-width: 45px;
  min-height: 20px;
}
